.info-item {
    display: flex;
    align-items: flex-start;
    margin-bottom: 1.5rem;
    gap: 1rem;
}

.info-label {
    flex-basis: 18rem;
    flex-shrink: 0;
    margin: 0;
    font-size: 1.4rem;
    line-height: 1.6;
    color: var(--clr-black);
}

.info-content {
    flex: 1;
    p,
    a {
        margin: 0;
        display: block;
        color: var(--clr-link);
        line-height: 1.6;
    }

    p {
        color: var(--clr-gray);
    }

    a {
        text-decoration: none;
        &:hover {
            text-decoration: underline;
            color: var(--clr-link-hover);
        }
    }
}

@media (max-width: 768px) {
    .info-item {
        flex-direction: column;
        gap: 0.5rem;
        align-items: flex-start;
    }

    .info-label {
        flex-basis: auto;
    }
}
