.navbar-fixed {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: var(--clr-black-1);
    z-index: 1000;
    box-sizing: border-box;
}

.navbar-logo a {
    font-family: var(--font-logo);
    font-size: 6rem;
    font-weight: bold;
    color: var(--clr-white);

    &:hover {
        cursor: pointer;
        color: var(--clr-white);
    }
}

.navbar-links-container ul {
    display: flex;
    list-style: none;
    margin: 0;
    padding: 1.2rem 2.5rem;
    gap: 3.5rem;
    // background-color: rgba(0, 0, 0, 0.95);\
    background-color: var(--clr-black-1);
    border-radius: 8px;
    box-shadow: 0 0 15px 5px rgba(255, 255, 255, 0.75), 0 0 30px 15px rgba(173, 216, 230, 0.4);
}

.navbar-links-container a {
    text-decoration: none;
    color: rgba(255, 255, 255, 0.95);
    font-weight: bold;
    font-size: 0.9em;
    letter-spacing: 1px;
    transition: color 0.3s ease;
}

.navbar-links-container a:hover {
    color: #007bff;
}

.social-icons {
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.icon {
    margin-right: 1.5rem;
    padding: 1rem;
    border-radius: 50%;
    background-color: white;
    color: var(--clr-black);
    box-shadow: 0 0 8px 1px rgba(0, 0, 0, 0.25);
    transition: 0.5s;
    cursor: pointer;

    i {
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 2rem;
        width: 2rem;
    }
    &:hover {
        transform: translateY(-5px);
    }

    &.facebook:hover {
        color: #0051ff;
    }
    &.youtube:hover {
        color: #ff0808;
    }
    &.twitter:hover {
        color: #444545;
    }
    &.reddit:hover {
        color: #ff4500;
    }
    &.instagram:hover {
        color: #db0cc3;
    }
}

.icon,
.icon:link,
.icon:visited,
.icon:active {
    text-decoration: none !important;
}
