.stats-wrapper {
    padding: 3.6rem;
    border-radius: 1rem;
    color: var(--clr-white);
    flex: 1;
    min-width: 32rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    border: 1px solid grey;
}

.progress-bar {
    width: 100%;
    height: 0.5rem;
    background-color: #333;
    border-radius: 0.5rem;
    overflow: hidden;
}

.progress-fill {
    width: 100%;
    height: 100%;
    background-color: #e5b567;
}

.funding-info {
    display: flex;
    align-items: baseline;
    gap: 0.5rem;
    flex-wrap: wrap;
}

.pledged-amount,
.percentage,
.backers-count {
    font-size: 3rem;
    line-height: 4.2rem;
    font-weight: 700;
}

.pledged-amount,
.goal-text,
.backers-label {
    color: #eac57d;
}

.percentage {
    color: #fff3e1;
}

.goal-text,
.backers-label {
    font-size: 1.4rem;
    font-weight: 700;
    line-height: 2rem;
}

.end-date {
    font-size: 1.2rem;
    line-height: 1.8rem;
    color: #606265;
}

/* ======== Responsive ======== */
@media (max-width: 600px) {
    .stats-wrapper {
        padding: 2.4rem;
    }

    .pledged-amount,
    .percentage,
    .backers-count {
        font-size: 2.8rem;
        line-height: 3.4rem;
    }
}
