.list {
    list-style: none;
    padding-left: 0;
    margin: 0;
}

.item {
    display: flex;
    align-items: flex-start;
    margin-bottom: 1.2rem;
    line-height: 1.6;
    position: relative;
    padding-left: 1.5rem;

    &::before {
        content: '';
        position: absolute;
        left: 0;
        top: 0.6rem;
        width: 0.75rem;
        height: 0.75rem;
        background-color: var(--clr-black-1);
    }

    a {
        color: var(--clr-link);
        text-decoration: none;

        &:hover {
            text-decoration: underline;
        }
    }
}

@media (max-width: 768px) {
    .item {
        font-size: 1.2rem;
    }
}
