.section-title {
    background-position: 50% 50%;
    background-size: 100% 100%;
    color: var(--clr-white);
    font-size: 8rem;
    line-height: 1.2;
    font-weight: 500;
    margin: 0 0 11.2rem;
    padding: 1.6rem 9.6rem 0;
    font-family: var(--font-logo);
    text-align: center;
    text-shadow: var(--clr-black) 0 0 0.8rem;

    @media (max-width: 1024px) {
        font-size: 6rem;
        padding: 1.6rem 4.8rem 0;
        margin-bottom: 8rem;
    }

    @media (max-width: 768px) {
        font-size: 4.5rem;
        padding: 1.6rem 2.4rem 0;
        margin-bottom: 6rem;
    }
}
