.section-title {
    background-position: 50% 50%;
    background-size: 100% 100%;
    color: var(--clr-white);
    font-size: 8rem;
    line-height: 8rem;
    font-weight: 500;
    margin: 0 0 11.2rem;
    padding: 1.6rem 9.6rem 0;
    font-family: var(--font-logo);
    text-align: center;
    text-shadow: vat(--clr-black) 0 0 0.8rem;
}
