.main-content {
    width: 100vw;
    margin-left: calc(-50vw + 50%);
    padding: 4rem 2rem;
    display: flex;
    justify-content: center;
    position: relative;

    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    &::before {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background-color: rgba(12, 12, 12, 0.55);
        z-index: 1;
    }
}

.showcase-container {
    max-width: 120rem;
    width: 100%;
    display: flex;
    flex-direction: column;

    position: relative;
    z-index: 2;
}

.showcase-header {
    width: 100%;
    color: #e5b567;
}

.showcase-title {
    font-size: 3.2rem;
    font-weight: 700;
    margin-bottom: 0.5rem;
}

.showcase-subtitle {
    font-size: 1.4rem;
    color: var(--clr-white);
    max-width: 90%;
}

.columns-wrapper {
    width: 100%;
    display: flex;
    gap: 4rem;
}
