.main-content {
    width: 100vw;
    margin-left: calc(-50vw + 50%);
    padding: 5rem 2.5rem;
    display: flex;
    justify-content: center;
    position: relative;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;

    overflow: hidden;
    &::before {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background-color: rgba(12, 12, 12, 0.65);
        z-index: 1;
    }
}

.showcase-container {
    max-width: 120rem;
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 2rem;
    position: relative;
    z-index: 2;
}

.showcase-header {
    width: 100%;
    color: #e5b567;
}

.showcase-title {
    font-size: 3.2rem;
    font-weight: 700;
    margin-bottom: 0.5rem;
}

.showcase-subtitle {
    font-size: 1.6rem;
    color: var(--clr-white);
}

.columns-wrapper {
    width: 100%;
    display: flex;
    gap: 4rem;
    flex-wrap: wrap;
}

@media (max-width: 768px) {
    .columns-wrapper {
        grid-template-columns: 1fr;
        gap: 3rem;
        justify-items: center;
    }

    .presentation-wrapper,
    .stats-wrapper {
        width: 100%;
        max-width: 60rem;
    }
}

@media (max-width: 368px) {
    .main-content {
        padding-left: 1.5rem;
        padding-right: 1.5rem;
    }
}
