.pressKit-container {
    max-width: 140rem;
    margin: 1.5rem auto;
    padding: 0 1.5rem;
    display: flex;
    gap: 3rem;
}

.sidebar-wrapper {
    flex-basis: 25%;
    flex-shrink: 0;
}

.main-content {
    flex-basis: 75%;
}

@media (max-width: 1024px) {
    .pressKit-container {
        flex-direction: column;
        gap: 2rem;
        margin-top: 0;
    }

    .sidebar-wrapper,
    .main-content {
        flex-basis: 100%;
    }
}
