.card {
    background-size: 100% 100%;
    padding: 6rem 3rem;
    color: var(--clr-white);
    border-radius: 1rem;
    display: flex;
    flex-direction: column;
    overflow: hidden;
}

.card-image-wrapper {
    margin-top: 6rem;
    margin-bottom: 1.5rem;
    position: relative;
    border: 0.05rem solid #495057;
}

.card-image {
    position: relative;
    top: 0;
    left: 0;
    width: 100%;
    height: auto;
    aspect-ratio: 16 / 9;
    object-fit: cover;
}

.card-content {
    .card-link {
        color: var(--clr-white);
        font-family: var(--font-logo);
        font-size: 4rem;
        font-weight: 500;
        line-height: 1.2;
        margin: 0 0 1.6rem;
        text-decoration: none;
        text-shadow: #ffffff4d 0 0 0.8rem;
        display: inline-block;

        &:hover {
            text-decoration: underline;
        }
    }

    .card-description {
        color: var(--clr-white);
        font-size: 1.8rem;
        line-height: 1.6;
        margin: 0 0 1.6rem;
    }
}

@media (max-width: 768px) {
    .card {
        padding: 3rem 2.5rem;
    }
    .card-content {
        .card-link {
            font-size: 3.2rem;
        }
        .card-description {
            font-size: 1.4rem;
        }
    }
}
