.studio-page {
    width: 100%;
    overflow-x: hidden;
}

.intro-section {
    padding: 10rem 5rem 0 5rem;
    min-height: 80vh;
    display: flex;
    align-items: center;
    justify-content: center;

    @media (max-width: 992px) {
        padding: 8rem 3rem 0 3rem;
        min-height: auto;
    }
    @media (max-width: 768px) {
        padding: 8rem 2rem 0 2rem;
    }
    @media (max-width: 480px) {
        padding: 8rem 1.5rem 0 1.5rem;
    }
}

.interviews-section {
    padding: 8rem 5%;

    @media (max-width: 992px) {
        padding: 7rem 5%;
    }
    @media (max-width: 768px) {
        padding: 6rem 5%;
    }
    @media (max-width: 480px) {
        padding: 4rem 3%;
    }
}
