.logo-image {
    width: 100%;
    max-width: 80rem;
    height: 20rem;
    object-fit: contain;
    object-position: center;
    display: block;
    margin: 0 auto;
}

.details-section {
    display: flex;
    gap: 3rem;
}

.factSheet-wrapper {
    flex: 0 0 35rem;
}

.description-wrapper {
    flex: 1 1 auto;
}

.additional-info-section {
    display: flex;
    gap: 3rem;
    margin-top: 4rem;
    border-top: 0.1rem solid #e0e0e0;
    padding-top: 4rem;
}

.team-section {
    flex-basis: 60%;
}

.contact-section {
    flex-basis: 40%;
}

@media (max-width: 739px) {
    .details-section,
    .additional-info-section {
        flex-direction: column;
    }
}
