.media-page {
    margin-top: 8rem;

    @media (max-width: 768px) {
        margin-top: 5rem;
    }
}

.main-media-title {
    padding-top: 4rem;
    text-align: center;
    font-size: 9.6rem;
    font-family: var(--font-logo);
    font-weight: bold;
    text-transform: uppercase;
    letter-spacing: 0.64rem;
    color: var(--clr-black);

    @media (max-width: 1200px) {
        font-size: 7rem;
    }

    @media (max-width: 768px) {
        font-size: 4.8rem;
        letter-spacing: 0.3rem;
        padding-top: 4rem;
    }

    @media (max-width: 480px) {
        font-size: 3.6rem;
        padding-top: 4rem;
    }
}

.video-responsive {
    overflow: hidden;
    padding-bottom: 56.25%;
    position: relative;
    height: 0;

    iframe {
        left: 0;
        top: 0;
        height: 100%;
        width: 100%;
        position: absolute;
    }
}
